{{- if .Clusters -}}
*Test clusters that should be deleted*

{{ range  .Clusters -}}
- `{{ .InstallationName }}` / `{{ .ID }}`
{{ end }}

Please check <https://intranet.giantswarm.io/docs/dev-and-releng/test-environments/|our policy> on how to keep test clusters alive.
{{- end }}

{{ if .Errors -}}
Some errors occurred:

{{ range  .Errors -}}
- {{ . }}
{{ end -}}
{{- end -}}